<div class="jumbotron">
	<h2>Edit Profile</h2>
	  <%= form_for [@user, @profile] do |f| %>
	    <%= render "/profiles/form", f: f %>
	    <div class=submit>
	      <%= f.submit class: "btn btn-primary" %>
	      
	    </div>
	  <% end %>
</div>