<div class="jumbotron">
  <%= form_for [@user, @user.build_profile] do |f| %>
    <%= render "/profiles/form", f: f %>
    <div class=submit>
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to user_profiles_path, class: "btn btn-link" %>
    </div>
  <% end %>

</div>