<div class="div-one">
  <%= form_for @user do |f| %>
    <%= render "/users/form", f: f %>
    <div class=submit>
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to sign_in_path, class: "btn btn-link" %>
    </div>
  <% end %>

</div>