<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>PairBnB Reservation</h1>
		<p> 
			Congratulations! You have received a booking from <%= @customer.email %>.
		</p>
		<p> 
			You can see details of your reservation here: <%= @url %>.
		</p>
		<p>
			Thanks for joining and have a great day!
		</p>
	</body>
</html>
